@import "tailwindcss";

@theme {
  --color-primary: #1977cc;
  --color-secondary: #2c4964;
  --color-background2: #f1f7fc;
}

.fixed-navbar {
  @apply z-20 fixed top-0;
}

.navbar_li {
  @apply mx-8 flex py-2 text-base text-primary group-hover:font-semibold;
}
.footer_li {
  @apply group-hover:text-primary group-hover:font-semibold transition ease-in-out duration-300;
}
.form_card {
  @apply w-full lg:max-w-xl p-8 pt-2 mb-12 shadow-sm hover:shadow-lg focus-within:shadow-lg rounded-3xl border border-gray-200 bg-white transition ease-in-out duration-200;
}
.form {
  @apply grid gap-6 mb-6 pt-4 md:grid-cols-1;
}

.lines {
  @apply my-2 block h-0.5 w-[30px] bg-secondary;
}

.menus-active > span:nth-child(1) {
  @apply rotate-45 bg-primary;
}
.menus-active > span:nth-child(2) {
  @apply scale-0 bg-primary;
}
.menus-active > span:nth-child(3) {
  @apply -rotate-45 bg-primary;
}

.form_input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring focus:ring-primary/60 focus:border-primary/60 block w-full p-2.5;
}

.form_input_disable {
  @apply bg-gray-200 border border-gray-300 text-gray-600 text-sm rounded-lg block w-full p-2.5 cursor-not-allowed;
}

.form_label {
  @apply block mb-2 text-sm font-medium;
}

section {
  @apply pb-8;
}
